<html>
    <body>
        <h1>Document search utility</h1>
        <div id="root"></div>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="static/styles.css" rel="stylesheet">
    <script type="text/babel">
    class Root extends React.Component {
        constructor(context, props) {
            super(context, props)

            this.state = {
                keyword: "",
                matches: []
            }

            this.onChange = this.onChange.bind(this);
        }

        onChange(e) {
            e.preventDefault();

            const keyword = e.target.value;
            this.setState({ keyword });

            if (keyword.length <= 3) {
                this.setState({ matches: [] });
            }

            fetch('/search/?q=' + keyword, {
                method: 'get'
            }).then((response) => {
                return response.json();
            }).then((response) => {
                this.setState({ matches: response });
            }).catch((err) => {
                console.log(err);
            });
        }

        render() {
            return (
                <div>
                    <input type="text"
                        value={this.state.keyword}
                        onChange={this.onChange}/>
                    <ul>
                        {this.state.matches.map(function(item, i) {
                            return (
                                <li key={i}>
                                    <span className="score">({item.score.toFixed(6)}) </span>
                                    <span className="path">{item.path}</span>
                                </li>
                            );
                        })}
                    </ul>
                </div>
            );
        }
    }

    ReactDOM.render(
        <Root />,
        document.getElementById('root')
    );
    </script>
</html>